body {
  min-width: 400px;
}

.logo-img {
  height: 3rem;
}

.vscroll-md, .vscroll-lg {
  overflow-x: hidden;
  overflow-y: scroll;
}

.vscroll-md {
  max-height: 15rem;
}

.vscroll-lg {
  max-height: 20rem;
}
