<div class="row article-template py-2">
  <div class="col-12">
    <div class="card shadow">
      <a href="{{ link }}" class="card-link text-dark">
        <div class="row no-gutters">

          <div class="col-4">
            <img src="{{ image }}" class="card-img rounded-left" alt="Article picture">
          </div>

          <div class="col-8">
            <div class="card-body">
              <h6 class="card-title font-article-title">{{ title }}</h6>
              <p class="card-text">
                <small class="text-muted">{{ source_name }}</small>
              </p>
            </div>
          </div>

        </div>
      </a>
    </div>
  </div>
</div>
